body{
    width: 100%;
    max-height: 5vh;
}
.carrito-animado{
    width: 10%;
    
     
       border-radius: 0%;
 
       
       
        background: linear-gradient(to bottom right ,
         transparent);
       
        animation:mover 20s infinite;
       animation-duration: 20s;
       animation-delay: 0.1s;
       animation-timing-function: linear;
       
       position: relative;
       }
       
       @keyframes mover{
       0%{left: 0%; top: 0px;transform: matrix(-1, 10, 10, -10, 20, 1);}
       1%{left: 1%; top: 0px;transform:matrix(-1, 0, 0, 1, -20, 1);}
       2%{left: 2%; top: 0px;transform:matrix(-1, 0, 0, 1, -20, 1);}
       3%{left: 3%; top: 0px;transform:matrix(-1, 0, 0, 1, -20, 1);}
       4%{left: 4%; top: 0px;transform:matrix(-1, 0, 0, 1, -20, 1);}
       5%{left: 5%; top: 0px;transform:matrix(-1, 0, 0, 1, -20, 1);}
       6%{left: 6%; top: 0px;transform:matrix(-1, 0, 0, 1, -20, 1);}
       8%{left: 8%; top: 0px;transform:matrix(-1, 0, 0, 1, -20, 1);}
       9%{left: 9%; top: 0px;transform:matrix(-1, 0, 0, 1, -20, 1);}
    
       10%{left: 10; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
       11%{left: 11%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
       12%{left: 12%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
       13%{left: 13%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
       14%{left: 14%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
       15%{left: 15%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
       16%{left: 16%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
       18%{left: 17%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
       18%{left: 18%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
       19%{left: 19%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
       
       20%{left: 20; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
       21%{left: 21%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
       22%{left: 22%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
       23%{left: 23%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
       24%{left: 24%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
       25%{left: 25%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
       26%{left: 26%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
       28%{left: 28%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
       29%{left: 29%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
        30%{left: 30; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
    31%{left: 31%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
    32%{left: 32%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
    33%{left: 33%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
    34%{left: 34%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
    35%{left: 35%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
    36%{left: 36%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
    38%{left: 38%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
    39%{left: 39%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}

    40%{left: 40; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
    41%{left: 41%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
    42%{left: 42%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
    43%{left: 43%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
    44%{left: 44%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
    45%{left: 45%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
    46%{left: 46%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
    48%{left: 48%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
    49%{left: 49%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}

    50%{left: 50; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
    51%{left: 51%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
    52%{left: 52%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
    53%{left: 53%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
    54%{left: 54%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
    55%{left: 55%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
    56%{left: 56%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
    58%{left: 58%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
    59%{left: 59%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}

    60%{left: 60; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
    61%{left: 61%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
    62%{left: 62%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
    63%{left: 63%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
    64%{left: 64%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
    65%{left: 65%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
    66%{left: 66%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
    68%{left: 68%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
    69%{left: 69%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}

    70%{left: 70; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
    71%{left: 71%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
    72%{left: 72%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
    73%{left: 73%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
    74%{left: 74%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
    75%{left: 75%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
    76%{left: 76%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
    78%{left: 78%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
    79%{left: 79%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}

    80%{left: 80; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
    81%{left: 81%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
    82%{left: 82%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
    83%{left: 83%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
    84%{left: 84%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
    85%{left: 85%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
    86%{left: 86%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
    88%{left: 88%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
    89%{left: 89%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}

    90%{left: 90; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
    91%{left: 91%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
    92%{left: 92%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
    93%{left: 93%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
    94%{left: 94%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
    95%{left: 95%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
    96%{left: 96%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
    98%{left: 98%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
    99%{left: 99%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}
    100%{left: 100%; top: 0px;transform: matrix(-1, 0, 0, 1, -20, 1);}}