/*body{padding: 0; margin: 0;}
.tabla_titulo{
    background: #fb4;

    padding: 0; margin: 0;
    letter-spacing: 1px; text-align: center;
    font-style: italic;font-weight: 10%;
    
    }

.tabla-usuarios{
background: rgba(0, 0, 0, 0.3);
color: #fff;
padding: 0; margin: 0;
display: grid; grid-template-columns: repeat(11,1fr);
grid-auto-rows: 20%;
text-align: center; justify-content: center; border: solid 0.1px; 
font-variant-caps: small-caps;
 
}

.tabla_header-usuarios{ 
    border: solid 0.1px; padding-top: 1%;padding-bottom: 1%; }
.tabla_item-usuarios{ 
    border-left: solid 0.1px;padding-top: 1%;padding-bottom: 1%;}

.form__fondo{
    position: absolute;
    height: 120vh;
    margin: 0;
    padding: 0;
    width: 100%; z-index: -1;}


@media(width:320px){
    .tabla-usuarios{
    display: grid; grid-template-columns: repeat(2,1fr);   
    }  
}
@media(width:375px){
    .tabla-usuarios{
    display: grid; grid-template-columns: repeat(2,1fr);   
    }  
}
@media(width:425px){
    .tabla-usuarios{
    display: grid; grid-template-columns: repeat(2,1fr);   
    }  
}

@media(width:768px){
    .tabla-usuarios{
    display: grid; grid-template-columns: repeat(5,1fr);   
    }  
}   */


 /*tablas */
 body{  width: 100%;}
 .tabla_titulo{
    background: #fb4;
   
    padding: 0; margin: 0;
    padding-top:5%; 
    letter-spacing: 1px; text-align: center;
    font-style: italic;font-weight: 10%;
    
    }

 .form__fondo{width: 100%; height: 100vh;
position: absolute; z-index: -1;}

.tabla-usuarios{
    width: 100%;
    border: solid 0.1px #fff;
}

.tabla_header-usuarios{
     
    border: solid 0.1px #fff;}

.tabla_item-usuarios{
     
    border: solid 0.1px #fff;} 


.Option-boton{width: 100%;}
 