body{
    height: 100vh;
}
.link__icon{width: 10%; height: 10%;}

#subtitulos{
        
    text-align: center;
    letter-spacing: 5.6px;
    word-spacing: 1.4px;
    color: #000000;
    font-weight: 400;

    font-style: italic;
    font-variant: small-caps;
    text-transform: capitalize;
    align-content: center;
}