
        body {
            margin: 0;
            padding: 0;
             
            background: -moz-linear-gradient(45deg, rgba(58,28,113,1) 0%, rgba(201,103,113,1) 50%, rgba(255,175,123,1) 100%); /* ff3.6+ */
            background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(58,28,113,1)), color-stop(50%, rgba(201,103,113,1)), color-stop(100%, rgba(255,175,123,1))); /* safari4+,chrome */
            background: -webkit-linear-gradient(45deg, rgba(58,28,113,1) 0%, rgba(201,103,113,1) 50%, rgba(255,175,123,1) 100%); /* safari5.1+,chrome10+ */
            background: -o-linear-gradient(45deg, rgba(58,28,113,1) 0%, rgba(201,103,113,1) 50%, rgba(255,175,123,1) 100%); /* opera 11.10+ */}
 
 .slider {
    margin: 0;
    padding: 0;
     
    top: 0;
    left: 0;
    z-index: -1000;
    
    }
    .slider ul{
        z-index: -1000;
        list-style: none;
        display: flex;
        padding: 0;
        width: 400%;
    
        animation: cambio 20s infinite;
    }
    #subtitulos{
        
        text-align: center;
        letter-spacing: 5.6px;
        word-spacing: 1.4px;
        color: #000000;
        font-weight: 400;
    
        font-style: italic;
        font-variant: small-caps;
        text-transform: capitalize;
        align-content: center;
    }
    .slider h4 {
        letter-spacing: 0.4px;
        font-style: italic;
        text-transform: capitalize;
        /*border: solid 1px;*/
         
        text-decoration: overline;
        
        letter-spacing: 5.6px;
        word-spacing: 1.4px;
        color: white;
        font-weight: 800;
        
        display: flex;
        
        justify-content: center;
       
        position: absolute;
        top: 49%;
        padding-left: 30%; 
        
        background: rgba(0, 0, 0, 0.3);
    }
 
    .slider img {
              
             border: solid 1px #fff;
             opacity: 0.9;
             width: 100%; 
             height:104%;

             z-index: -1000;
            }

    @keyframes cambio {
    0% {margin-left:0;}
    20% {margin-left:0;}
    
    30% {margin-left:-100;}
    40% {margin-left:-100%;}
    
    50% {margin-left:-200%;}
    60% {margin-left:-200%;}
    
    70% {margin-left:-200%;}
    80% {margin-left:-200%;}
    
    90% {margin-left:-300%;}
    97% {margin-left:-300%;}
     
    }
    
@media(width:1280px){
    .slider h4 {
    top: 47%;} 
    
}

    
 